.HeroContainer {
  height: 500px;
  width: 100%;
  background-color: sandybrown;
}

.hero-flex {
  height: 320px;
  width: 100%;
  background-color: rgb(25, 82, 129);
  display: flex;
}

.hero-image-box {
  height: 100%;
  width: 50%;
  background-color: rgb(108, 155, 48);
}

.hero-image {
  width: 100%;
  height: 100%;
}

.hero-text-box {
  height: 100%;
  width: 50%;
  background-color: rgb(134, 70, 58);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  display: block;
}

.text {
  display: block;
  color: white;
}
